<li class="db-burger">
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Yum, make another!{{/if}}
    </button>
</li>